#shopping-list {
   /* width:100%; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   gap: 1rem;
}

.list {
   min-width: 30%;
   padding: 0.5rem;
   border-radius: 25px;
   display: flex;
   list-style: none;
   background-color: #19875462;
   justify-content: space-around;
}

.list-item {
   text-align: center;
   font-weight: 500;
   display:flex;
   padding:0.5rem;
}


.got-it {
   background-color: #19875462;
   color: white;
   font-weight: 500;
   border-radius: 25px;
   width: fit-content;
   border: 1px solid white;
}

.delete {
   background-color: #19875462;
   color: white;
   font-weight: 500;
   border-radius: 25px;
   width: fit-content;
   border: 1px solid white;
}