#shopping-list {
   padding:0.5rem;
}
.list {
   margin-bottom:0.5rem;
   padding: 0.5rem;
   border-radius: 25px;
   display: flex;
   list-style: none;
   background-color: #19875462;
   justify-content: space-between;
}
.list-item {
   text-align: center;
   font-weight: 500;
   display:flex;
   padding: 0 0.5rem;
   flex:1;
}
.got-it {
   background-color: #19875462;
   color: white;
   font-weight: 500;
   border-radius: 25px;
   width: fit-content;
   border: 1px solid white;
}
.delete {
   background-color: #875b19c2;
   color: white;
   font-weight: 500;
   border-radius: 25px;
   width: fit-content;
   border: 1px solid white;
}
.in-a-cart::before {
content:"✓";
}